<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.ChatRecordMapper">
    <resultMap id="ChatRecordResultMap" type="cn.edu.cqut.crm.model.ChatRecord">
        <id column="chat_id" jdbcType="INTEGER" property="chatId"/>
        <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_name" jdbcType="CHAR" property="customerName"/>
        <result column="handler_id" jdbcType="INTEGER" property="handlerId"/>
        <result column="handler_name" jdbcType="CHAR" property="handlerName"/>
        <result column="short_description" jdbcType="CHAR" property="shortDescription"/>
        <result column="long_description" jdbcType="VARCHAR" property="longDescription"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="chat_address" jdbcType="VARCHAR" property="chatAddress"/>
        <result column="more_info" jdbcType="VARCHAR" property="moreInfo"/>
    </resultMap>
    <select id="selectAll" resultType="cn.edu.cqut.crm.model.ChatRecord">
        select * from chat_record
    </select>
</mapper>