<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.ContactMapper">
    <resultMap id="ContactResultMap" type="cn.edu.cqut.crm.model.Contact">
        <id column="contact_id" jdbcType="INTEGER" property="contactId"/>
        <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="contact_name" jdbcType="CHAR" property="contactName"/>
        <result column="contact_gender" jdbcType="CHAR" property="contactGender"/>
        <result column="contact_phone" jdbcType="CHAR" property="contactPhone"/>
        <result column="contact_job" jdbcType="CHAR" property="contactJob"/>
    </resultMap>
    <select id="selectAll" resultMap="ContactResultMap">
        select * from contact where customer_id=#{customerId}
    </select>
    <insert id="insertContact" parameterType="cn.edu.cqut.crm.model.Contact">
        insert into contact(customer_id,contact_name,contact_gender,contact_phone,contact_job)
        value (#{customerId},#{contactName},#{contactGender},#{contactPhone},#{contactJob})
    </insert>
    <update id="updateContact" parameterType="cn.edu.cqut.crm.model.Contact">
        update contact set contact_name=#{contactName},contact_gender=#{contactGender},
        contact_phone=#{contactPhone},contact_job=#{contactJob} where contact_id=#{contactId}
    </update>
    <delete id="deleteContact" parameterType="cn.edu.cqut.crm.model.Contact">
        delete from contact where contact_id=#{contactId}
    </delete>

    <insert id="insertByName" parameterType="cn.edu.cqut.crm.model.Contact" useGeneratedKeys="true" keyProperty="contactId" keyColumn="contact_id">
        insert into contact(customer_id, contact_name, contact_phone) values(#{customerId}, #{contactName}, #{contactPhone})
    </insert>
</mapper>