<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.CustomerMapper">
    <resultMap id="CustomerResultMap" type="cn.edu.cqut.crm.model.Customer">
        <id column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_no" jdbcType="CHAR" property="customerNo"/>
        <result column="customer_name" jdbcType="CHAR" property="customerName"/>
        <result column="customer_address" jdbcType="VARCHAR" property="customerAddress"/>
        <result column="customer_email" jdbcType="CHAR" property="customerEmail"/>
        <result column="customer_region" jdbcType="CHAR" property="customerRegion"/>
        <result column="customer_phone" jdbcType="CHAR" property="customerPhone"/>
        <result column="customer_cooperation" jdbcType="CHAR" property="customerCooperation"/>
        <result column="customer_grade" jdbcType="CHAR" property="customerGrade"/>
        <result column="customer_credit" jdbcType="CHAR" property="customerCredit"/>
        <result column="customer_satisfaction" jdbcType="CHAR" property="customerSatisfaction"/>
        <result column="customer_status" jdbcType="CHAR" property="customerStatus"/>
    </resultMap>
    <select id="selectAll" resultMap="CustomerResultMap">
        select * from customer
    </select>


    <select id="selectId" resultMap="CustomerResultMap">
        select * form customer where customer_id=#{Id}
    </select>

    <select id="selectNo" resultMap="CustomerResultMap">
select * form customer where customer_no=#{No}
    </select>



    <insert id="insertCustomer" parameterType="cn.edu.cqut.crm.model.Customer">
       insert customer(customer_no,customer_name,customer_email,customer_grade,customer_phone,customer_credit,
       customer_region,customer_status,customer_address,customer_cooperation)
       values(#{customerNo},#{customerName},#{customerEmail},#{customerGrade},#{customerPhone},#{customerCredit},
       #{customerRegion},#{customerStatus},#{customerAddress},#{customerCooperation})
    </insert>

    <update id="updateCustomer" parameterType="cn.edu.cqut.crm.model.Customer">
        update customer set customer_no=#{customerNo},customer_name=#{customerName},customer_email=#{customerEmail},
        customer_grade=#{customerGrade},customer_phone=#{customerPhone},customer_credit=#{customerCredit},
       customer_region=#{customerRegion},customer_address=#{customerAddress},
       customer_cooperation=#{customerCooperation}
       where customer_id=#{customerId}
    </update>

    <delete id="deleteCustomer" parameterType="cn.edu.cqut.crm.model.Customer">
        delete from customer where customer_id=#{customerId}
    </delete>
</mapper>