<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.CustomerMapper">
    <resultMap id="CustomerResultMap" type="cn.edu.cqut.crm.model.Customer">
        <id column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_no" jdbcType="CHAR" property="customerNo"/>
        <result column="customer_name" jdbcType="CHAR" property="customerName"/>
        <result column="customer_address" jdbcType="VARCHAR" property="customerAddress"/>
        <result column="customer_email" jdbcType="CHAR" property="customerEmail"/>
        <result column="customer_region" jdbcType="CHAR" property="customerRegion"/>
        <result column="customer_phone" jdbcType="CHAR" property="customerPhone"/>
        <result column="customer_cooperation" jdbcType="CHAR" property="customerCooperation"/>
        <result column="customer_grade" jdbcType="CHAR" property="customerGrade"/>
        <result column="customer_credit" jdbcType="CHAR" property="customerCredit"/>
        <result column="customer_satisfaction" jdbcType="CHAR" property="customerSatisfaction"/>
        <result column="customer_status" jdbcType="CHAR" property="customerStatus"/>
    </resultMap>
    <select id="selectAll" resultMap="CustomerResultMap">
        select * from customer
    </select>
</mapper>