<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.OrderMapper">
    <resultMap id="OrderResultMap" type="cn.edu.cqut.crm.model.Order">
        <id column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_name" jdbcType="CHAR" property="customerName"/>
        <result column="product_name" jdbcType="CHAR" property="productName"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="buy_number" jdbcType="INTEGER" property="buyNumber"/>
        <result column="total_price" jdbcType="DECIMAL" property="totalPrice"/>
        <result column="order_time" jdbcType="DATE" property="orderTime"/>
        <result column="order_status" jdbcType="CHAR" property="orderStatus"/>
    </resultMap>

    <select id="selectAll" resultType="cn.edu.cqut.crm.model.OrderStatistics">
        SELECT customer_name as statisticsCustomerName, SUM(total_price) as statisticsTotalPrice from customer_order GROUP BY customer_name
    </select>

    <select id="selectYear16" resultType="cn.edu.cqut.crm.model.OrderStatistics">
        select customer_name as statisticsCustomerName, sum(total_price) as statisticsTotalPrice
        from customer_order
        where order_time>="2016-01-01" and order_time &lt; "2017-01-01"
        group by customer_name
    </select>

</mapper>