<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.SaleChanceMapper">
    <resultMap id="SaleChanceResultMap" type="cn.edu.cqut.crm.model.SaleChance">
        <id column="chance_id" jdbcType="INTEGER" property="chanceId"/>
        <result column="customer_name" jdbcType="CHAR" property="customerName"/>
        <result column="customer_phone" jdbcType="CHAR" property="customerPhone"/>
        <result column="contact_name" jdbcType="CHAR" property="contactName"/>
        <result column="contact_phone" jdbcType="CHAR" property="contactPhone"/>
        <result column="chance_resource" jdbcType="CHAR" property="chanceResource"/>
        <result column="success_rate" jdbcType="DECIMAL" property="successRate"/>
        <result column="chance_description" jdbcType="VARCHAR" property="chanceDescription"/>
        <result column="creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="creator_name" jdbcType="CHAR" property="creatorName"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="belong" jdbcType="INTEGER" property="belong"/>
        <result column="dispatch_time" jdbcType="DATE" property="dispatchTime"/>
        <result column="chance_status" jdbcType="CHAR" property="chanceStatus"/>
    </resultMap>
    <select id="selectAll" resultMap="SaleChanceResultMap">
        select * from sale_chance
    </select>
    <insert id="insert" parameterType="cn.edu.cqut.crm.model.SaleChance">
        insert into sale_chance(customer_name,customer_phone,contact_name,
        contact_phone,chance_resource,success_rate,chance_description,creator_id,creator_name,
        create_time,belong,dispatch_time,chance_status)
		values(#{customerName},#{customerPhone},#{contactName},
		#{contactPhone},#{chanceResource},#{successRate},#{chanceDescription},
		#{creatorId},#{creatorName},#{createTime},#{belong},#{dispatchTime},#{chanceStatus})
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from sale_chance where chance_id = #{chanceid}
    </delete>

<!--    <update id="update" parameterType="cqutcrm1.model.Sellinfo">-->
<!--			update sellinfo set sellNo=#{sellNo},cusName=#{cusName},cusPhone=#{cusPhone},-->
<!--			itemName=#{itemName},itemPrice=#{itemPrice},sellRegion=#{sellRegion},sellNum=#{sellNum},-->
<!--			selldate=#{selldate} where sellId=#{sellId}-->
<!--	</update>-->
    <update id="update" parameterType="cn.edu.cqut.crm.model.SaleChance">
        update sale_chance set customer_name=#{customerName},customer_phone=#{customerPhone},
        contact_name=#{contactName},contact_phone=#{contactPhone},chance_resource=#{chanceResource},
        success_rate=#{successRate},chance_description=#{chanceDescription},creator_id=#{creatorId},
        creator_name=#{creatorName},create_time=#{createTime},belong=#{belong},dispatch_time=#{dispatchTime},
        chance_status=#{chanceStatus} where chance_id=#{chanceId}
    </update>

    <update id="updateSend" parameterType="cn.edu.cqut.crm.model.SaleChance">
        update sale_chance set customer_name=#{customerName},customer_phone=#{customerPhone},
        contact_name=#{contactName},contact_phone=#{contactPhone},chance_resource=#{chanceResource},
        success_rate=#{successRate},chance_description=#{chanceDescription},creator_id=#{creatorId},
        creator_name=#{creatorName},create_time=#{createTime},belong=#{belong},dispatch_time=#{dispatchTime},
        chance_status=#{chanceStatus} where chance_id=#{chanceId}
    </update>

</mapper>