<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.ServiceStatisticsMapper">
    <select id="getServiceType" resultType="cn.edu.cqut.crm.model.ServiceStatistics">
        select service_type as 'serviceType' ,count(*) as 'countService' from service group by service_type
    </select>

    <select id="getDateCount" resultType="cn.edu.cqut.crm.model.ServiceStatistics">
        SELECT service_type as 'serviceType' ,count(*) as 'countService'
        from service
        where year(create_time)=#{create_time}
        GROUP BY service_type
    </select>
</mapper>