<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.ServiceMapper">
    <resultMap id="ServiceResultMap" type="cn.edu.cqut.crm.model.Service">
        <id column="service_id" jdbcType="INTEGER" property="serviceId"/>
        <result column="service_type" jdbcType="CHAR" property="serviceType"/>
        <result column="creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="creator_name" jdbcType="CHAR" property="creatorName"/>
        <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="customer_name" jdbcType="CHAR" property="customerName"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
        <result column="belong" jdbcType="INTEGER" property="belong"/>
        <result column="dispatch_time" jdbcType="DATE" property="dispatchTime"/>
        <result column="service_status" jdbcType="CHAR" property="serviceStatus"/>
    </resultMap>

    <select id="selectAll" resultMap="ServiceResultMap">
        select * from service
    </select>

    <select id="getHandleService" resultMap="ServiceResultMap">
        select service_id,service_type,customer_id,customer_name,service_status,dispatch_time
        from service
        where belong=#{handlerId} and service_status=#{serviceStatus}
        order by dispatch_time
    </select>

    <update id="changeServiceStatus" parameterType="cn.edu.cqut.crm.model.Service">
        update service
        set service_status=#{ServiceStatus}
        where service_id=#{serviceId}
    </update>

    <insert id="insert" parameterType="cn.edu.cqut.crm.model.Service">
        insert into
        service(service_type,creator_id,creator_name,customer_id,customer_name,create_time,service_status)
        values(#{serviceType},#{creatorId},#{creatorName},#{customerId},#{customerName},#{createTime},#{serviceStatus})
    </insert>
</mapper>