<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cqut.crm.dao.ServiceProcessMapper">
    <resultMap id="ServiceProcessResultMap" type="cn.edu.cqut.crm.model.ServiceProcess">
        <id column="process_id" jdbcType="INTEGER" property="processId"/>
        <result column="service_id" jdbcType="INTEGER" property="serviceId"/>
        <result column="handler_id" jdbcType="INTEGER" property="handlerId"/>
        <result column="handler_name" jdbcType="CHAR" property="handlerName"/>
        <result column="customer_id" jdbcType="INTEGER" property="customerId"/>
        <result column="hand_time" jdbcType="DATE" property="handTime"/>
        <result column="hand_method" jdbcType="VARCHAR" property="handMethod"/>
        <result column="hand_result" jdbcType="VARCHAR" property="handResult"/>
        <result column="customer_satisfaction" jdbcType="CHAR" property="customerSatisfaction"/>
    </resultMap>

    <select id="selectAll" resultMap="ServiceProcessResultMap">
        select * from service_process
    </select>

    <insert id="addServiceProcess" parameterType="cn.edu.cqut.crm.model.ServiceProcess">
        insert into service_process(service_id,handler_id,handler_name,customer_id,hand_time,hand_method,hand_result,customer_satisfaction)
        values (#{serviceId},#{handlerId},#{handlerName},#{customerId},#{handTime},#{handMethod},#{handResult},#{customerSatisfaction})
    </insert>
    <delete id="deleteService" parameterType="cn.edu.cqut.crm.model.ServiceProcess">
        delete from service_process where service_id=#{serviceId}
    </delete>

    <update id="changServiceProcess" parameterType="cn.edu.cqut.crm.model.ServiceProcess">
        update service_process set customer_satisfaction=#{customerSatisfaction},hand_result=#{handResult} where service_id=#{serviceId}
    </update>
</mapper>